# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env
.env.*

# Node / React
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Veri dosyaları
movies.csv
*.db
